<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Goldenly Admin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="app-shell admin-shell">
    <% if notice %><p class="flash-message"><%= notice %></p><% end %>
    <% if alert %><p class="flash-message flash-alert"><%= alert %></p><% end %>
    <%= yield %>
  </body>
</html>
